[Unit]
Description=Clear Xray Log
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/etc/xray/clear_xray_log.sh

[Install]
WantedBy=multi-user.target
